body {
  padding: 40px;
  background-image: url("/assets/images/background.jpg");
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: overlay;
}

.form-container {
  max-width: 500px;
  padding: 15px 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin: 0 auto;
}

.contenedor {
  width: 80%;
  margin: 0 auto;
}

h3 {
  font-weight: bold;
}

.subtitle {
  font-size: 1.2em;
  font-weight: bold;
}

h3,
h6 {
  margin-bottom: 30px;
}

.form_signin {
  padding: 30px;
}

.card-panel {
  padding: 2px 7px;
}

.accept {
  margin-top: 30px;
}

.info {
  color: #1565c0;
}

input[type="email"]:focus {
  border-bottom: 2px solid #1565c0 !important;
  box-shadow: none;
}

input[type="email"]:focus + label {
  color: #1565c0 !important;
}

.show-errors {
  color: red;
}

/* modal */
.modal {
  width: 20% !important;
  border-radius: 12px;
}

.modal-content {
  text-align: center;
}

.modal-footer {
  text-align: center;
  margin-bottom: 30px;
}
