<body class="background-image">
    <div class="form-container">
        <h3 class="card-title center-align black-text title">Salud y Vida</h3>

        <form [formGroup]="fGroup" class="contenedor">
            <div class="row">
                <div class="card grey lighten-4 z-depth-4">
                    <div class="card-content form_signin">

                        <div class="card-panel indigo lighten-5">
                            <div class="input-field">
                                <input formControlName="password" id="password" type="password" class="validate"
                                    required />
                                <label for="password">Contraseña nueva</label>
                                <span toggle="#password" class="material-icons toggle-password"
                                    style="cursor: pointer; position: absolute; right: 10px; top: 10px;"
                                    (click)="togglePasswordVisibility()"(keydown)="togglePasswordVisibility()"
                                    tabindex="0">visibility_off</span>
                            </div>
                            <div class="show-errors" *ngIf="GetFormGroup['password'].errors && 
                        (GetFormGroup['password'].dirty || GetFormGroup['password'].touched)">
                                <strong>Este campo es obligatorio</strong>
                            </div>
                        </div>

                        <div class="card-panel indigo lighten-5">
                            <div class="input-field">
                                <input formControlName="confirmPassword" id="confirmPassword" type="password"
                                    class="validate" required />
                                <label for="confirmPassword">Confirmar contraseña nueva</label>
                                <span toggle="#confirmPassword" class="material-icons toggle-password-confirm"
                                    style="cursor: pointer; position: absolute; right: 10px; top: 10px;"
                                    (click)="togglePasswordVisibility2()"(keydown)="togglePasswordVisibility2()"
                                    tabindex="0">visibility_off</span>
                            </div>
                            <div class="show-errors" *ngIf="GetFormGroup['confirmPassword'].errors && 
                        (GetFormGroup['confirmPassword'].dirty || GetFormGroup['confirmPassword'].touched)">
                                <strong>Este campo es obligatorio</strong>
                            </div>
                        </div>

                        <div class="row accept">
                            <button (click)="ResetPassword()" class="btn waves-effect waves-light blue darken-3 right"
                                type="submit" [disabled]="fGroup.invalid">
                                Aceptar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Modal same password -->
    <div id="warningModal" class="modal">
        <div class="modal-content">
            <i class="large material-icons yellow-text center-align">warning</i>
            <p>Las contraseñas no coinciden</p>
        </div>
        <div class="modal-footer">
            <button class="modal-close btn waves-effect waves-light white black-text" style="margin-right: 10px;">
                Cerrar
            </button>
        </div>
    </div>

    <!-- Modal exit -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <i class="large material-icons info">info</i>
            <p>¡Éxito! La contraseña ha sido cambiada correctamente</p>
        </div>
        <div class="modal-footer">
            <button class="modal-close btn waves-effect waves-light white black-text" (click)="redirectToLogin()">Cerrar</button>
          </div>
    </div>

    <!-- Modal error -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <i class="large material-icons red-text">error</i>
            <p>Ha ocurrido un error, intenta de nuevo </p>
        </div>
        <div class="modal-footer">
            <button class="modal-close btn waves-effect waves-light white black-text" style="margin-right: 10px;">
                Cerrar
            </button>
        </div>
    </div>
</body>