<body class="background-image">
    <div class="container-main">
      <div class="container-centered">
        <h4 class="card-title title centered-tittle">Agendar cita</h4>
        <p class="instructions">Seleccione una fecha de inicio y una fecha de fin, para buscar horarios disponibles.</p>
  
        <form [formGroup]="fGroup" class="container" (ngSubmit)="searchUnavailableTimes()">
          <div class="card grey lighten-4 z-depth-4 larger-card">
            <div class="card-content form_signin">
              <div class="form_calendar">
                <div class="input-field col s4">
                  <label for="startDate" class="active">Fecha Inicio</label>
                  <input formControlName="startDate" id="startDate" type="date" [min]="minDate" required>
                </div>
                <div class="input-field col s4">
                  <label for="endDate" class="active">Fecha Fin</label>
                  <input formControlName="endDate" id="endDate" type="date" [min]="minDate" required>
                </div>
                <div class="input-field col s4">
                  <label for="doctorId" class="active">Doctor</label>
                  <select formControlName="doctorId" id="doctorId" class="browser-default">
                    <option value="" disabled selected>Seleccione un doctor</option>
                    <option *ngFor="let doctor of doctors" [value]="doctor.id">{{ doctor.name }}</option>
                  </select>
                </div>
              </div>
              <div class="button-container">
                <button type="submit" class="btn">Buscar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
  
      <!-- Calendario -->
      <div class="container-calendar">
        <div class="calendar-card z-depth-2">
          <full-calendar [options]="calendarOptions"></full-calendar>
        </div>
      </div>
    </div>
  
    <!-- Modal para Confirmar Cita -->
    <div id="createAppointmentModal" class="modal">
      <div class="modal-content">
        <h4>Confirmar Cita</h4>
        <p>¿Desea confirmar la cita para el <strong>{{ selectedDateTime }}</strong> con el doctor <strong>{{
            selectedDoctorName }}</strong>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn red modal-close">Cancelar</button>
        <button type="button" class="btn green" (click)="onConfirmAppointment()">Confirmar</button>
      </div>
    </div>
  
    <!-- Modal para Carga de Datos -->
    <div id="loadingModal" class="modal">
      <div class="modal-content">
        <h4>Cargando Datos</h4>
        <p>Por favor, espere mientras se cargan los datos para el calendario.</p>
      </div>
    </div>
  
  </body>