<body class="background-image">
    <div class="form-container">
        <h4 class="card-title title">Cambio de contraseña</h4>

        <form [formGroup]="fGroup" (ngSubmit)="ChangePassword()" class="contenedor">
            <div class="card grey lighten-4 z-depth-4">
                <div class="card-content form_signin">

                    <!-- Contraseña Actual -->
                    <div class="card-panel indigo lighten-5">
                        <div class="input-field">
                            <input formControlName="oldPassword" id="lastPassword" type="password" class="validate" />
                            <label for="lastPassword">Contraseña actual</label>
                            <span toggle="#lastPassword" class="material-icons toggle-last-password"
                                (click)="togglePasswordVisibility()" (keydown)="togglePasswordVisibility()"
                                tabindex="0">visibility_off</span>
                        </div>
                        <div class="show-errors" *ngIf="GetFormGroup['oldPassword'].errors && 
                  (GetFormGroup['oldPassword'].dirty || GetFormGroup['oldPassword'].touched)">
                            <strong>Este campo es obligatorio</strong>
                        </div>
                    </div>

                    <!-- Nueva Contraseña -->
                    <div class="card-panel indigo lighten-5">
                        <div class="input-field">
                            <input formControlName="newPassword" id="password" type="password" class="validate" />
                            <label for="password">Contraseña nueva</label>
                            <span toggle="#password" class="material-icons toggle-password"
                                (click)="togglePasswordVisibility2()"(keydown)="togglePasswordVisibility2()"
                                tabindex="0">visibility_off</span>
                        </div>
                        <div class="show-errors" *ngIf="GetFormGroup['newPassword'].errors && 
                  (GetFormGroup['newPassword'].dirty || GetFormGroup['newPassword'].touched)">
                            <strong>Este campo es obligatorio</strong>
                        </div>
                    </div>

                    <!-- Confirmar Nueva Contraseña -->
                    <div class="card-panel indigo lighten-5">
                        <div class="input-field">
                            <input formControlName="confirmPassword" id="confirmPassword" type="password"
                                class="validate" />
                            <label for="confirmPassword">Confirmar contraseña nueva</label>
                            <span toggle="#confirmPassword" class="material-icons toggle-password-confirm"
                                (click)="togglePasswordVisibility3()" (keydown)="togglePasswordVisibility3()"
                                tabindex="0">visibility_off</span>
                        </div>
                        <div class="show-errors" *ngIf="GetFormGroup['confirmPassword'].errors && 
                  (GetFormGroup['confirmPassword'].dirty || GetFormGroup['confirmPassword'].touched)">
                            <strong>Este campo es obligatorio</strong>
                        </div>
                    </div>

                    <!-- Botón de Envío -->
                    <div class="row button-container">
                        <button type="submit" class="btn-agregar" [disabled]="fGroup.invalid">
                            Continuar
                        </button>
                    </div>

                </div>
            </div>
        </form>
    </div>

    <!-- Modal warning -->
    <div id="warningModal" class="modal">
        <div class="modal-content">
            <p>Las contraseñas no coinciden</p>
        </div>
        <div class="modal-footer">
            <button class="modal-close btn waves-effect waves-light white black-text" style="margin-right: 10px;">
                Cerrar
            </button>
        </div>
    </div>

    <!-- Modal exit -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <p>¡Éxito! La contraseña ha sido cambiada correctamente</p>
        </div>
        <div class="modal-footer">
            <button class="modal-close btn waves-effect waves-light white black-text"
                (click)="redirectToLogin()">Cerrar</button>
        </div>
    </div>

    <!-- Modal warning -->
    <div id="warningModal2" class="modal">
        <div class="modal-content">
            <p>Por favor completa todos los campos</p>
        </div>
        <div class="modal-footer">
            <button class="modal-close btn waves-effect waves-light white black-text" style="margin-right: 10px;">
                Cerrar
            </button>
        </div>
    </div>

    <!-- Modal error -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <p>Ha ocurrido un error, intenta de nuevo </p>
        </div>
        <div class="modal-footer">
            <button class="modal-close btn waves-effect waves-light white black-text" style="margin-right: 10px;">
                Cerrar
            </button>
        </div>
    </div>
</body>