.background-image {
  padding: 70px;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/images/image3.jpg");
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
}

/* Contenedor del formulario */
.form-container {
  width: 100%;
  max-width: 450px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título */
.title {
  margin-bottom: 10px;
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Estilo de cada campo */
.input-field {
  position: relative;
  margin-bottom: 15px;
}

.input-field input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #4caf50; /* Línea inferior verde */
  box-shadow: none;
  outline: none;
  color: black;
  padding: 8px 0;
}

input[type="email"]:focus {
  border-bottom: 2px solid #1565c0 !important;
  box-shadow: none;
}

input[type="email"]:focus + label {
  color: #1565c0 !important;
}

.show-errors {
  color: red;
}

/* Ícono de visibilidad */
.material-icons {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  color: #424242;
  transition: color 0.3s;
}

.material-icons:hover {
  color: #1e88e5;
}

/* Botón */
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn-agregar {
  background-color: #1565c0;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.btn-agregar:hover {
  background-color: #0d47a1;
}

.btn-agregar:disabled {
  background-color: #b0bec5;
  cursor: not-allowed;
}

/* modal size settings */
.modal {
  width: 20% !important;
  border-radius: 12px;
}

.modal-content {
  text-align: center;
}

.modal-footer {
  text-align: center;
  margin-bottom: 30px;
}



@media (max-width: 768px) {
  .background-image {
    padding: 30px
  }

  .form-container {
    width: 100%;
  }

  .modal {
    width: 80% !important;
  }
}