<body>
    <section>
        <div class="carousel carousel-slider">
            <a class="carousel-item" href="#one!"><img
                    src="https://img.freepik.com/foto-gratis/centro-recuperacion-covid-dh1octora-sosteniendo-manos-paciente-mayor_23-2148847832.jpg?w=996&t=st=1727278467~exp=1727279067~hmac=c675d88ef4065edd5aed3de31c72002f44fa5a82f2263bac928351f6428c111c">
            </a>
            <a class="carousel-item" href="#two!"><img
                    src="https://img.freepik.com/foto-gratis/doctor-estetoscopio-cerca_23-2149191355.jpg?w=996&t=st=1727278492~exp=1727279092~hmac=7fe1b08ed99e7fc5242af23aa7e477909ae8dc517265a64f3415329bba711d1b"></a>
            <a class="carousel-item" href="#three!"><img
                    src="https://img.freepik.com/foto-gratis/manos-doctora-irreconocible-dando-pildoras-al-paciente_1098-20411.jpg?t=st=1727279166~exp=1727282766~hmac=09b91a8bf557b4218e18ffcbef9902de58d9f7e95cda9e7245662e3a7fa7d3e4&w=996"></a>
            <a class="carousel-item" href="#four!"><img
                    src="https://img.freepik.com/foto-gratis/fondo-pasillo-vacio_23-2149408808.jpg?t=st=1727278385~exp=1727281985~hmac=4f04a9a82945bd3b6f2e9c6697dca5e967b17087ba63aacf4d694ed9bbd1e820&w=900"></a>
        </div>
    </section>

    <aside class="row aside-padding">
        <div class="col s12 m4 buttom-margin">
            <div class="card z-depth-3">
                <div class="card-image">
                    <img
                        src="https://img.freepik.com/foto-gratis/manos-doctora-irreconocible-dando-pildoras-al-paciente_1098-20411.jpg?t=st=1727279166~exp=1727282766~hmac=09b91a8bf557b4218e18ffcbef9902de58d9f7e95cda9e7245662e3a7fa7d3e4&w=996">
                    <span class="card-title black-text bold-text shade">Misión</span>
                </div>
                <div class="card-content">
                    <p>Ofrecemos atención médica de calidad y accesible, promoviendo el bienestar y la salud de la
                        comunidad
                        mediante servicios integrales y un enfoque centrado en el paciente.</p>
                </div>
            </div>
        </div>

        <div class="col s12 m4 buttom-margin">
            <div class="card z-depth-3">
                <div class="card-image">
                    <img
                        src=" https://img.freepik.com/foto-gratis/oficina-medica-moderna-vacia-documentos-enfermedades-mesa-equipada-muebles-contemporaneos-lugar-trabajo-hospital-nadie-listo-consultas-enfermedad-apoyo-medicina_482257-35871.jpg?t=st=1727278413~exp=1727282013~hmac=73ccb1edebf8cd248fe77e4041ce0f5a0b10883b36224e043600f09e9cf8bde8&w=996">
                    <span class="card-title black-text bold-text">Visión</span>
                </div>
                <div class="card-content">
                    <p>Ser un referente en la atención médica, innovando constantemente para mejorar la salud y el
                        bienestar de la comunidad,
                        y asegurando un acceso equitativo a servicios de calidad para todos.</p>
                </div>
            </div>
        </div>



        <div class="col s12 m4 buttom-margin">
            <div class="card z-depth-3">
                <div class="card-image">
                    <img
                        src="https://img.freepik.com/foto-gratis/doctor-estetoscopio-manos-fondo-hospital_1423-1.jpg?t=st=1727278430~exp=1727282030~hmac=4fe3b854e65f88acc80a34060f7e5c40981115a8f8b3b483b41c1d704896cfd8&w=996">
                    <span class="card-title black-text bold-text">Servicios</span>
                </div>
                <div class="card-content">
                    <p>Brindamos servicios de atención médica integral, que incluyen consultas, emergencias,
                        especialidades médicas y programas de prevención,
                        enfocados en satisfacer las necesidades de nuestros pacientes y promover su bienestar.</p>
                </div>
            </div>
        </div>
    </aside>


</body>