<body>
    <section>
        <div class="carousel carousel-slider">
            <a class="carousel-item" href="#one!"><img
                    src="assets/images/image1.jpg">
            </a>
            <a class="carousel-item" href="#two!"><img
                    src="assets/images/image2.jpg"></a>
            <a class="carousel-item" href="#three!"><img
                    src="assets/images/image4.jpg"></a>
            <a class="carousel-item" href="#four!"><img
                    src="assets/images/image3.jpg"></a>
        </div>
    </section>

    <aside class="row aside-padding">
        <div class="col s12 m4 buttom-margin">
            <div class="card z-depth-3">
                <div class="card-image">
                    <img
                        src="assets/images/image6.jpg">
                    <span class="card-title black-text bold-text shade">Misión</span>
                </div>
                <div class="card-content">
                    <p>Ofrecemos atención médica de calidad y accesible, promoviendo el bienestar y la salud de la
                        comunidad
                        mediante servicios integrales y un enfoque centrado en el paciente.</p>
                </div>
            </div>
        </div>

        <div class="col s12 m4 buttom-margin">
            <div class="card z-depth-3">
                <div class="card-image">
                    <img
                        src="assets/images/image5.jpg">
                    <span class="card-title black-text bold-text">Visión</span>
                </div>
                <div class="card-content">
                    <p>Ser un referente en la atención médica, innovando constantemente para mejorar la salud y el
                        bienestar de la comunidad,
                        y asegurando un acceso equitativo a servicios de calidad para todos.</p>
                </div>
            </div>
        </div>



        <div class="col s12 m4 buttom-margin">
            <div class="card z-depth-3">
                <div class="card-image">
                    <img
                        src="assets/images/image7.jpg">
                    <span class="card-title black-text bold-text">Servicios</span>
                </div>
                <div class="card-content">
                    <p>Brindamos servicios de atención médica integral, que incluyen consultas, emergencias,
                        especialidades médicas y programas de prevención,
                        enfocados en satisfacer las necesidades de nuestros pacientes y promover su bienestar.</p>
                </div>
            </div>
        </div>
    </aside>


</body>