<body class="background-image">
    <div class="form-container">
        <h4 class="card-title title">Mis datos personales</h4>

        <form [formGroup]="fGroup" class="contenedor">
            <div class="card grey lighten-4 z-depth-4">
                <div class="card-content form_signin">
                    <div class="data-row">
                        <div class="col s6 data-item">
                            <span class="label-text">Nombres:</span>
                            <span class="data-field">{{ fGroup.get('firstName')?.value }}</span>
                        </div>
                        <div class="col s6 data-item">
                            <span class="label-text">Apellidos:</span>
                            <span class="data-field">{{ fGroup.get('lastName')?.value }}</span>
                        </div>
                    </div>

                    <div class="data-row">
                        <div class="col s6 data-item">
                            <span class="label-text">Dirección</span>
                            <span class="data-field">{{ fGroup.get('address')?.value }}</span>
                        </div>
                        <div class="col s6 data-item">
                            <span class="label-text">Teléfono</span>
                            <span class="data-field">{{ fGroup.get('phone')?.value }}</span>
                        </div>
                    </div>

                    <div class="data-row">
                        <div class="col s6 data-item">
                            <span class="label-text">Correo electrónico:</span>
                            <span class="data-field">{{ fGroup.get('email')?.value }}</span>
                        </div>
                        <div class="col s6 data-item">
                            <span class="label-text">Número de Documento:</span>
                            <span class="data-field">{{ fGroup.get('dni')?.value }}</span>
                        </div>
                    </div>

                    <div class="button-container">
                        <button routerLink="/user/patch-personal-data" class="btn-agregar" type="submit">
                            Actualizar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>