<body class="background-image">
  <div class="form-container">
    <h3 class="card-title center-align black-text title">Salud y Vida</h3>

    <form [formGroup]="fGroup" class="contenedor">
      <div class="row">
        <div class="card grey lighten-4 z-depth-4">
          <div class="card-content form_signin">
            <h6 class="center-align subtitle">¿No puedes iniciar sesión?</h6>
            <h6 class="center-align">Para restablecer la clave, ingresa tu número de documento</h6>

            <div class="card-panel indigo lighten-5">
              <div class="input-field">
                <input formControlName="dni" id="dni" type="text" class="validate" required />
                <label for="dni">Número de Documento</label>
              </div>
              <div class="show-errors" *ngIf="GetFormGroup['dni'].errors && 
                      (GetFormGroup['dni'].dirty || GetFormGroup['dni'].touched)">
                <strong>Introduce un DNI válido</strong>
              </div>
            </div>

            <div class="row accept">
              <button (click)="onSubmit()" class="btn waves-effect waves-light blue darken-3 right" type="submit"
                [disabled]="fGroup.invalid">
                Aceptar
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Modal info -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <i class="large material-icons info">info</i>
      <p>Se ha enviado un correo con las instrucciones para recuperar tu contraseña. </p>
    </div>
    <div class="modal-footer">
      <button class="modal-close btn waves-effect waves-light white black-text" (click)="redirectToLogin()">Aceptar</button>
    </div>
  </div>

  <!-- Modal error -->
  <div id="modal2" class="modal">
    <div class="modal-content">
      <i class="large material-icons red-text">error</i>
      <p>Ha ocurrido un error al intentar recuperar la contraseña. </p>
    </div>
    <div class="modal-footer">
      <button class="modal-close btn waves-effect waves-light red darken-2" (click)="redirectToLogin()">Aceptar</button>
    </div>
  </div>
</body>