<body class="background-image">
    <div class="container-main">
        <!-- Contenedor para el formulario de búsqueda -->
        <div class="container-centered">
            <h4 class="card-title title centered-tittle">Consultar Citas</h4>

            <form [formGroup]="fGroup" class="container" (ngSubmit)="searchAppointments()">
                <div class="card grey lighten-4 z-depth-4 larger-card">
                    <div class="card-content form_signin">
                        <div class="row-container">
                            <p>Ingrese la fecha de inicio y la fecha de fin para buscar citas en ese periodo.</p>
                            <div class="input-field col s6 input-container">
                                <div class="date-field-wrapper">
                                    <input formControlName="startDate" id="startDate" type="text"
                                        class="datepicker large-input" placeholder="Fecha Inicio" required />
                                    <i class="material-icons date-icon">date_range</i>
                                </div>
                            </div>
                            <div class="input-field col s6 input-container">
                                <div class="date-field-wrapper">
                                    <input formControlName="endDate" id="endDate" type="text"
                                        class="datepicker large-input" placeholder="Fecha Fin" required />
                                    <i class="material-icons date-icon">date_range</i>
                                </div>
                            </div>
                        </div>
                        <div class="button-container">
                            <button type="submit" class="btn-search">Buscar</button>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Modal para mostrar detalles de la cita -->
            <div id="appointmentDetailsModal" class="modal">
                <div class="modal-content">
                    <h4>Detalles de la Cita</h4>
                    <p></p> <!-- Aquí se insertará el mensaje -->
                </div>
                <div class="modal-footer">
                    <button class="modal-close btn">Cerrar</button>
                </div>
            </div>

            <!-- Modal para horarios no disponibles -->
            <div id="unavailableTimesModal" class="modal">
                <div class="modal-content">
                    <h4>Detalles del Horario No Disponible</h4>
                    <p>Horario seleccionado:</p>
                    <div id="modal-content">
                        <!-- Aquí se llenará la información del horario -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button (click)="editUnavailableTime()" class="btn waves-effect waves-light blue">Editar</button>
                    <button (click)="deleteUnavailableTime()" class="btn waves-effect waves-light red">Eliminar</button>
                    <button class="modal-close btn waves-effect waves-light grey">Cerrar</button>
                </div>
            </div>

            <!-- Modal para editar horario no disponible -->
            <div id="editUnavailableTimeModal" class="modal">
                <div class="modal-content">
                    <h4>Editar Horario No Disponible</h4>
                    <form #editUnavailableTimeForm="ngForm"
                        (ngSubmit)="saveUpdatedUnavailableTime(editUnavailableTimeForm)">
                        <div class="input-field">
                            <label for="editStartTime">Hora de Inicio</label>
                            <input id="editStartTime" type="time" name="editStartTime" ngModel required>
                        </div>
                        <div class="input-field">
                            <label for="editEndTime">Hora de Fin</label>
                            <input id="editEndTime" type="time" name="editEndTime" ngModel required>
                        </div>
                        <button type="submit" class="btn">Guardar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="modal-close btn">Cancelar</button>
                </div>
            </div>


            <!-- Modal de Confirmación de Eliminación -->
            <div id="deleteConfirmationModal" class="modal">
                <div class="modal-content">
                    <h4>Confirmación de Eliminación</h4>
                    <p>¿Estás seguro de que deseas eliminar el horario seleccionado?</p>
                </div>
                <div class="modal-footer">
                    <button (click)="confirmDelete()" class="btn waves-effect waves-light red">Eliminar</button>
                    <button class="modal-close btn waves-effect waves-light grey">Cancelar</button>
                </div>
            </div>

            <!-- Modal de exito -->
            <div id="successModal" class="modal">
                <div class="modal-content">
                    <h4>Éxito</h4>
                    <p></p> <!-- Aquí se insertará el mensaje -->
                </div>
            </div>

            <!-- Modal para agregar horario no disponible -->
            <div id="addUnavailableTimeModal" class="modal">
                <div class="modal-content">
                    <h4>Agregar Horario No Disponible</h4>
                    <p id="modal-message"> <!-- Este es el lugar donde se mostrará el mensaje dinámico --> </p>
                    <form #unavailableTimeForm="ngForm" (ngSubmit)="saveUnavailableTime(unavailableTimeForm)">
                        <div class="input-field">
                            <label for="startTime">Hora de Inicio</label>
                            <input id="startTime" type="time" name="startTime" ngModel required>
                        </div>
                        <div class="input-field">
                            <label for="endTime">Hora de Fin</label>
                            <input id="endTime" type="time" name="endTime" ngModel required>
                        </div>
                        <button type="submit" class="btn">Guardar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="modal-close btn">Cancelar</button>
                </div>
            </div>



        </div>

        <!-- Contenedor para el calendario -->
        <div class="container-calendar">
            <full-calendar [options]="calendarOptions"></full-calendar>
        </div>

    </div>
</body>