<body class="background-image">
    <div class="container-centered">
      <h4 class="card-title title">Registro Administrador</h4>
  
      <form [formGroup]="fGroup" class="contenedor">
        <div class="card grey lighten-4 z-depth-4">
          <div class="card-content form_signin">
            <div class="row">
              <div class="input-field col s6">
                <input formControlName="name" id="name" type="text" class="validate" required />
                <label for="name">Nombre</label>
                <div *ngIf="fGroup.get('name')?.invalid && fGroup.get('name')?.touched" class="error-message">
                  Este campo es requerido.
                </div>
              </div>
              <div class="input-field col s6">
                <input formControlName="lastName" id="lastName" type="text" class="validate" required />
                <label for="lastName">Apellidos</label>
                <div *ngIf="fGroup.get('lastName')?.invalid && fGroup.get('lastName')?.touched" class="error-message">
                  Este campo es requerido.
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="input-field col s6">
                <select formControlName="typeDNI" id="typeDNI" class="browser-default">
                  <option value="" disabled selected>Tipo de documento</option>
                  <option value="1">Cédula</option>
                  <option value="2">Tarjeta de Identidad</option>
                  <option value="3">Pasaporte</option>
                </select>
                <div *ngIf="fGroup.get('typeDNI')?.invalid && fGroup.get('typeDNI')?.touched" class="error-message">
                  Seleccione un tipo de documento.
                </div>
              </div>
              <div class="input-field col s6">
                <input formControlName="dni" id="dni" type="text" class="validate" required />
                <label for="dni">Número de Documento</label>
                <div *ngIf="fGroup.get('dni')?.invalid && fGroup.get('dni')?.touched" class="error-message">
                  Ingrese un número de documento válido.
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="input-field col s6">
                <input formControlName="email" id="email" type="email" class="validate" required />
                <label for="email">Correo Electrónico</label>
                <div *ngIf="fGroup.get('email')?.invalid && fGroup.get('email')?.touched" class="error-message">
                  Ingrese un correo electrónico válido.
                </div>
              </div>
              <div class="input-field col s6 button-container">
                <button (click)="onSubmit()" class="btn-agregar" type="button">
                  Agregar
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  
    <!-- Modal para mostrar mensajes -->
    <div id="validationErrorModal" class="modal">
      <div class="modal-content">
        <h4>Error de Validación</h4>
        <p></p>
      </div>
      <div class="modal-footer">
        <button class="modal-close btn blue">Cerrar</button>
      </div>
    </div>
  
    <div id="userRegisteredModal" class="modal">
      <div class="modal-content">
        <h4>Registro Exitoso</h4>
        <p>Administrador registrado correctamente.</p>
      </div>
      <div class="modal-footer">
        <button class="modal-close btn blue">Cerrar</button>
      </div>
    </div>
  
    <div id="userExistsModal" class="modal">
      <div class="modal-content">
        <h4>Usuario Existente</h4>
        <p>Este usuario ya está registrado.</p>
      </div>
      <div class="modal-footer">
        <button class="modal-close btn blue">Cerrar</button>
      </div>
    </div>
  </body>
  