<nav class="blue darken-3">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo lighten-5-text bold-logo custom-margin">
            <img src="assets/images/logo.jpg" alt="Logo" class="responsive-img logo-img">
            Salud y Vida
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a *ngIf="!activesession" href="/security/signin" class="lighten-5-text bold-logo">Iniciar sesión</a>
            </li>
            <li><a *ngIf="activesession" href="/security/logout" class="lighten-5-text bold-logo">Cerrar sesión</a></li>
            <li>
                <a *ngIf="activesession" (click)="openSidenav()" href="javascript:void(0)">
                    <i class="material-icons lighten-5-text">menu</i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<!-- Sidebar -->
<ul id="slide-out" class="sidenav right">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="assets/images/background-user.jpg">
            </div>
            <a href="#user"><img class="circle" src="assets/images/user.jpg"></a>
            <a href="#name"><span class="white-text name">{{ user?.FirstName }}</span></a>
            <a href="#email"><span class="white-text email">{{ user?.Email }}</span></a>
        </div>
    </li>
    <li *ngFor="let item of menuItems">
        <a [routerLink]="item.route">
            <i class="material-icons">{{ item.icon }}</i>
            {{ item.name }}
        </a>
    </li>
</ul>