<nav class="blue darken-3">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo lighten-5-text bold-logo custom-margin">
            <img src="assets/images/logo.jpg" alt="Logo" class="responsive-img logo-img">
            Salud y Vida
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="signin" class="lighten-5-text bold-logo">Iniciar sesión</a></li>
            <li><a href="menu"><i class="material-icons lighten-5-text">menu</i></a></li>
        </ul>
    </div>
</nav>