/* You can add global styles to this file, and also import other style files */
@media (max-width: 768px) {
    .container-main {
        flex-direction: column;
        align-items: center;
    }

    .container-centered,
    .container-table-wrapper {
        width: 100%;
        margin: 10px;
    }
}

.container-table {
    overflow-x: auto;
    display: block;
}

:host {
    overflow: auto;
}